@font-face {
    font-family: YanoneKaffeesatz-Bold;
    src: url(/assets/fonts/yanonekaffeesatz-bold-webfont.woff);
}
@font-face {
    font-family: YanoneKaffeesatz-Regular;
    src: url(/assets/fonts/yanonekaffeesatz-regular-webfont.woff);
}
@font-face {
    font-family: YanoneKaffeesatz-Light;
    src: url(/assets/fonts/yanonekaffeesatz-light-webfont.woff);
}

body {
    font-family: YanoneKaffeesatz-Regular;
    color:#000;
    font-size:17px;
    background-color:#f7f7f7;
    padding-bottom:50px;
}
h1 {
    font-size:40pt;
    font-family: YanoneKaffeesatz-Bold;
    text-transform: uppercase;
}
h4 {
    font-size:20px;
    letter-spacing: 1px;
}
a {
    color:#bebebe;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
/********* NAVBAR *********/
.navbar {
    font-family: YanoneKaffeesatz-Light;
    letter-spacing: 1px;
}
.navbar.navbar-inverse .nav > li > a {
    margin:0px 15px;
    text-transform: uppercase;
    color:#fff;
    font-size:17px;

} 

.navbar.navbar-inverse .nav > li.active > a {
    text-decoration: none;
    border-bottom: 1px solid #fff;
    margin: 15px 25px 0px 30px;
    padding: 0px 0px 0px 0px;
}

.navbar-inverse {
    background-color: #000;
    border-color: #000;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size:40px;
}
.navbar-form .input-group {
    width:100%;
    border-radius: 0px;
}
.navbar-form .input-group .btn-default, .navbar-form .input-group input{
    border-color:#fff;
    border-radius: 0px;
    color:#a5a5a5;
}
.navbar-form .input-group input{
    border: none;
}

.navbar-form .input-group input::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: uppercase;
}
.navbar-form .input-group input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: uppercase;
}
.navbar-form .input-group input::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: uppercase;
}
.navbar-form .input-group input:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: uppercase;
}

.navbar .suit{
    color:#fff;
    font-size: 20px;
    padding: 15px 15px 0px 15px;
    
}
.navbar .suit .counter{
    font-size: 15px;
    vertical-align: super;
    font-family: YanoneKaffeesatz-Bold;
}
/*-------- /NAVBAR ---------*/


/********* HEADER-IMAGE *********/
header {
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.55), 
        rgba(0, 0, 0, 0.55)
    ),url(/assets/asset1.jpg) ; 
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;          
    width: 100%;
    min-height: 400px;
    color: #fff;
    position: relative;
    text-align: center;
 
}
header .header-inner{
    top: 150px;
    /* bottom:150px; */
    position: relative;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.40), 
      rgba(0, 0, 0, 0.40)
    ) ; 
    text-transform: uppercase;
    padding:25px;
}
header .header-inner h1{
    font-size:50pt;
    letter-spacing: 3px;
    margin: 0px;
}
header .header-inner h2{
    font-size:30pt;
    letter-spacing: 3px;
    margin-top:0px;
}
/*-------- /HEADER-IMAGE ---------*/

/********* FORM-DETAILS *********/

#form-details .form-control {
    font-family: YanoneKaffeesatz-Bold;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border:none;
    color:#003a60;
}
#form-details .form-control.incorrect {
    border:1px solid red;
    color:red;
}
#form-details .btn-primary.active{
    background-color:#003a60;

} 
#form-details .uploadfile{
    padding:0;
} 
#form-details .btn{
    border:none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

} 
#form-details .btn-group, #form-details .form-control{
    margin-bottom:15px !important;
}
#form-details .submit{
    margin-bottom:15px !important;
    background-color:#005c9d;
    color:#fff;
}
#form-details{
    padding-bottom:30px;
}

/* ::-webkit-input-placeholder {
    color:#003a60 !important;
}

::-moz-placeholder {
    color:#003a60 !important;
}

::-ms-placeholder {
    color:#003a60 !important;
}

::placeholder {
    color:#003a60 !important;
} */
/*-------- /FORM-DETAILS ---------*/

/********* FAQ *********/
#faq {
    background:url(/assets/img2.jpg) ; 
    background-size:     cover;      
    background-repeat:   no-repeat;
    background-position: center center;       
    width: 100%;
    min-height: 400px;

    position: relative;
    padding:60px 0px;
}
#faq .backtotop i {
    font-size:8px;
}
#faq .backtotop {
    position:absolute;
    right:0px;
    bottom:0px;
    background-color:#fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-transform: uppercase;
    font-family: YanoneKaffeesatz-Light;
    padding:5px 15px;
}
#faq .container {
    background-color: #fff;
    height:100%;
    padding: 10px 35px;
}
#faq h3{
    font-family: YanoneKaffeesatz-Bold;
    text-transform: uppercase;
    font-size: 35px;
}

#faq ul{
    color:#9f9f9f;
    margin-bottom:30px;
    padding-left: 0px;
    list-style-position: inside;
}
#faq .content{
    color:#9f9f9f;
    margin:30px 0px;
}
#faq .content p{
    margin:0px;
}

#faq .underline{
    text-decoration: underline;
}

/*-------- /FAQ ---------*/

/********* FOOTER *********/
footer{
    background-color:#fff;
    padding:40px 0px;
}
footer .container{
    border-top:1px solid #eaeaea;
    padding-top:20px;
    color:#9f9f9f;
}
footer h4{
    text-transform: uppercase;
    color:#000;
    margin-bottom:20px;
}
footer ul {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0px;
}
footer .social-network div {
    padding-left:0px;
}
footer .social-network div i{
    margin-right:10px;
    font-size: 19px;;
    font-size: 25px;
    vertical-align: middle;
}
/*-------- /FOOTER ---------*/






@media (max-width:767px) { 
    /********* LEFT-SLIDER *********/
	#slide-nav .container {
        margin: 0!important;
        padding: 0!important;
        height:100%;
	}
	#slide-nav .navbar-header {
	    margin: 0 auto;
	    padding: 0 15px;
	}
	#slide-nav .navbar.slide-active {
	    position: absolute;
	    width: 80%;
	    top: -1px;
	    z-index: 1000;
	}
	#slide-nav #slidemenu {
	    background: #f7f7f7;
	    left: -100%;
	    width: 80%;
	    min-width: 0;
	    position: absolute;
	    padding-left: 0;
	    z-index: 2;
	    top: -8px;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav {
	    min-width: 0;
	    width: 100%;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
	    min-width: 0;
        width: 80%;
	}
	#slide-nav {
	    border-top: 0
	}
	#slide-nav.navbar-inverse #slidemenu {
	    background: #000
	}
	#navbar-height-col {
	    position: fixed;
	    top: 0;
	    height: 100%;
        bottom:0;
	    width: 80%;
	    left: -80%;
	    background: #000;
	}
	#navbar-height-col.inverse {
	    background: #000;
	    z-index: 10;
	    border: 0;
    }
    /*-------- /LEFT-SLIDER ---------*/
    header .header-inner {
        top: 90px;
    }
    .navbar.navbar-inverse .nav > li.active > a {
        margin-bottom: 10px;
    }
}


/* PLACEHOLDER FIX */
.placeholder-label {
    display:none;
}
html.no-placeholder .placeholder-label {
    display: block;
}